CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-r2s=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_SAMBA_MAX_DEBUG_LEVEL=-1
# CONFIG_PACKAGE_UnblockNeteaseMusic is not set
CONFIG_PACKAGE_UnblockNeteaseMusicGo=m
CONFIG_PACKAGE_adbyby=m
CONFIG_PACKAGE_alsa-lib=m
CONFIG_PACKAGE_alsa-utils=m
CONFIG_PACKAGE_attr=m
CONFIG_PACKAGE_autosamba=y
CONFIG_PACKAGE_avahi-dbus-daemon=m
CONFIG_PACKAGE_baidupcs-web=m
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_blkid=m
CONFIG_PACKAGE_blockd=y
CONFIG_PACKAGE_boost=m
CONFIG_PACKAGE_boost-chrono=m
CONFIG_PACKAGE_boost-program_options=m
CONFIG_PACKAGE_boost-random=m
CONFIG_PACKAGE_boost-system=m
CONFIG_PACKAGE_bridge=y
CONFIG_PACKAGE_brook=m
CONFIG_PACKAGE_btrfs-progs=m
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_cgroupfs-mount=m
CONFIG_PACKAGE_chinadns-ng=m
CONFIG_PACKAGE_collectd=m
CONFIG_PACKAGE_collectd-mod-cpu=m
CONFIG_PACKAGE_collectd-mod-interface=m
CONFIG_PACKAGE_collectd-mod-iwinfo=m
CONFIG_PACKAGE_collectd-mod-load=m
CONFIG_PACKAGE_collectd-mod-memory=m
CONFIG_PACKAGE_collectd-mod-network=m
CONFIG_PACKAGE_collectd-mod-rrdtool=m
CONFIG_PACKAGE_confuse=m
CONFIG_PACKAGE_containerd=m
CONFIG_PACKAGE_coreutils-base64=m
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_cshark=m
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dbus=m
CONFIG_PACKAGE_dns2socks=m
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_broken_rtc=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_noid=y
CONFIG_PACKAGE_docker-ce=m
CONFIG_PACKAGE_e2guardian=y
CONFIG_PACKAGE_fdk-aac=m
CONFIG_PACKAGE_forked-daapd=m
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_fuse-utils=m
CONFIG_PACKAGE_haproxy=m
CONFIG_PACKAGE_https-dns-proxy=m
CONFIG_PACKAGE_icu=m
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_ipt2socks=m
# CONFIG_PACKAGE_ipt2socks-alt is not set
CONFIG_PACKAGE_iptables-mod-conntrack-extra=m
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=m
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_iwinfo=m
CONFIG_PACKAGE_kcptun-client=m
CONFIG_PACKAGE_kmod-br-netfilter=m
CONFIG_PACKAGE_kmod-crypto-acompress=m
CONFIG_PACKAGE_kmod-dax=m
CONFIG_PACKAGE_kmod-dm=m
CONFIG_PACKAGE_kmod-fs-autofs4=y
CONFIG_PACKAGE_kmod-fs-btrfs=m
CONFIG_PACKAGE_kmod-fuse=m
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-ikconfig=m
CONFIG_PACKAGE_kmod-input-core=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=m
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-lib-lzo=m
CONFIG_PACKAGE_kmod-lib-raid6=m
CONFIG_PACKAGE_kmod-lib-xor=m
CONFIG_PACKAGE_kmod-lib-zlib-deflate=m
CONFIG_PACKAGE_kmod-lib-zlib-inflate=m
CONFIG_PACKAGE_kmod-lib-zstd=m
CONFIG_PACKAGE_kmod-nf-ipvs=m
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-sched-cake=m
CONFIG_PACKAGE_kmod-sched-cake-virtual=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-sound-core=m
CONFIG_PACKAGE_kmod-udptunnel4=m
CONFIG_PACKAGE_kmod-udptunnel6=m
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_kmod-wireguard=m
CONFIG_PACKAGE_lame-lib=m
CONFIG_PACKAGE_libantlr3c=m
CONFIG_PACKAGE_libao=m
CONFIG_PACKAGE_libatomic=m
CONFIG_PACKAGE_libattr=m
CONFIG_PACKAGE_libavahi-client=m
CONFIG_PACKAGE_libavahi-compat-libdnssd=m
CONFIG_PACKAGE_libavahi-dbus-support=m
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-bin=y
CONFIG_PACKAGE_libcap-bin-capsh-shell="/bin/sh"
CONFIG_PACKAGE_libcares=m
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libdaemon=m
CONFIG_PACKAGE_libdb47=y
CONFIG_PACKAGE_libdbus=m
CONFIG_PACKAGE_libdevmapper=m
CONFIG_PACKAGE_libdouble-conversion=m
CONFIG_PACKAGE_libedit=m
CONFIG_PACKAGE_libev=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libexif=m
CONFIG_PACKAGE_libexpat=m
CONFIG_PACKAGE_libffi=m
CONFIG_PACKAGE_libffmpeg-full=m
CONFIG_PACKAGE_libflac=m
CONFIG_PACKAGE_libfuse=m
CONFIG_PACKAGE_libgcrypt=m
CONFIG_PACKAGE_libgdbm=m
CONFIG_PACKAGE_libgmp=y
CONFIG_PACKAGE_libgnutls=m
CONFIG_PACKAGE_libgpg-error=m
CONFIG_PACKAGE_libhttp-parser=m
CONFIG_PACKAGE_libid3tag=m
CONFIG_PACKAGE_libjpeg-turbo=m
CONFIG_PACKAGE_libltdl=m
CONFIG_PACKAGE_liblua5.3=m
CONFIG_PACKAGE_liblzma=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libmount=m
CONFIG_PACKAGE_libnetfilter-conntrack=y
CONFIG_PACKAGE_libnettle=y
CONFIG_PACKAGE_libnetwork=m
CONFIG_PACKAGE_libnfnetlink=y
CONFIG_PACKAGE_libnghttp2=m
CONFIG_PACKAGE_libnss=m
CONFIG_PACKAGE_libogg=m
CONFIG_PACKAGE_libopus=m
CONFIG_PACKAGE_libpam=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libpcre2-16=m
CONFIG_PACKAGE_libplist=m
CONFIG_PACKAGE_libpopt=m
CONFIG_PACKAGE_libprotobuf-c=m
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_librrd1=m
CONFIG_PACKAGE_libruby=y
CONFIG_PACKAGE_libsodium=m
CONFIG_PACKAGE_libsqlite3=m
CONFIG_PACKAGE_libtasn1=m
CONFIG_PACKAGE_libtirpc=m
CONFIG_PACKAGE_libunistring=m
CONFIG_PACKAGE_libustream-mbedtls=m
CONFIG_PACKAGE_libvorbis=m
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_libxml2=y
CONFIG_PACKAGE_libyaml=y
CONFIG_PACKAGE_libzstd=m
CONFIG_PACKAGE_lsblk=m
CONFIG_PACKAGE_luci-app-adbyby-plus=m
CONFIG_PACKAGE_luci-app-baidupcs-web=m
CONFIG_PACKAGE_luci-app-commands=m
CONFIG_PACKAGE_luci-app-cshark=m
CONFIG_PACKAGE_luci-app-diskman=m
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_PACKAGE_luci-app-docker=m
CONFIG_PACKAGE_luci-app-e2guardian=y
CONFIG_PACKAGE_luci-app-eqos=y
CONFIG_PACKAGE_luci-app-familycloud=m
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-haproxy-tcp=m
CONFIG_PACKAGE_luci-app-https-dns-proxy=m
CONFIG_PACKAGE_luci-app-jd-dailybonus=m
CONFIG_PACKAGE_luci-app-meshwizard=m
CONFIG_PACKAGE_luci-app-minidlna=m
CONFIG_PACKAGE_luci-app-mjpg-streamer=m
CONFIG_PACKAGE_luci-app-music-remote-center=m
CONFIG_PACKAGE_luci-app-netdata=m
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-passwall=m
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_kcptun=y
CONFIG_PACKAGE_luci-app-pppoe-relay=m
CONFIG_PACKAGE_luci-app-qbittorrent=m
CONFIG_PACKAGE_luci-app-qos=m
CONFIG_PACKAGE_luci-app-rclone=m
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-app-samba4=m
CONFIG_PACKAGE_luci-app-serverchan=y
CONFIG_PACKAGE_luci-app-shairplay=m
CONFIG_PACKAGE_luci-app-smartdns=m
CONFIG_PACKAGE_luci-app-sqm=m
# CONFIG_PACKAGE_luci-app-ssr-plus is not set
CONFIG_PACKAGE_luci-app-statistics=m
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-unblockmusic=m
CONFIG_PACKAGE_luci-app-usb-printer=m
CONFIG_PACKAGE_luci-app-uugamebooster=y
CONFIG_PACKAGE_luci-app-verysync=m
CONFIG_PACKAGE_luci-app-vlmcsd=m
CONFIG_PACKAGE_luci-app-vsftpd=m
CONFIG_PACKAGE_luci-app-watchcat=m
CONFIG_PACKAGE_luci-app-wifischedule=m
CONFIG_PACKAGE_luci-app-wireguard=m
CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=m
CONFIG_PACKAGE_luci-i18n-commands-zh-cn=m
CONFIG_PACKAGE_luci-i18n-docker-zh-cn=m
CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=y
CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=y
CONFIG_PACKAGE_luci-i18n-haproxy-tcp-zh-cn=m
CONFIG_PACKAGE_luci-i18n-meshwizard-zh-cn=m
CONFIG_PACKAGE_luci-i18n-minidlna-zh-cn=m
CONFIG_PACKAGE_luci-i18n-mjpg-streamer-zh-cn=m
CONFIG_PACKAGE_luci-i18n-music-remote-center-zh-cn=m
CONFIG_PACKAGE_luci-i18n-netdata-zh-cn=m
CONFIG_PACKAGE_luci-i18n-pppoe-relay-zh-cn=m
CONFIG_PACKAGE_luci-i18n-qbittorrent-zh-cn=m
CONFIG_PACKAGE_luci-i18n-qos-zh-cn=m
CONFIG_PACKAGE_luci-i18n-rclone-zh-cn=m
CONFIG_PACKAGE_luci-i18n-samba-zh-cn=y
CONFIG_PACKAGE_luci-i18n-samba4-zh-cn=m
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=m
CONFIG_PACKAGE_luci-i18n-sqm-zh-cn=m
CONFIG_PACKAGE_luci-i18n-statistics-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-unblockmusic-zh-cn=m
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=m
CONFIG_PACKAGE_luci-i18n-uugamebooster-zh-cn=y
CONFIG_PACKAGE_luci-i18n-verysync-zh-cn=m
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-vsftpd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-watchcat-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wifischedule-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=m
CONFIG_PACKAGE_luci-lib-docker=m
CONFIG_PACKAGE_luci-lib-json=m
CONFIG_PACKAGE_luci-lib-luaneightbl=m
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-wireguard=m
CONFIG_PACKAGE_luci-ssl-openssl=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-edge=m
CONFIG_PACKAGE_luci-theme-freifunk-generic=m
CONFIG_PACKAGE_luci-theme-infinityfreedom=m
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-netgear=m
CONFIG_PACKAGE_meshwizard=m
CONFIG_PACKAGE_microsocks=m
CONFIG_PACKAGE_minidlna=m
CONFIG_PACKAGE_mjpg-streamer=m
CONFIG_PACKAGE_mount-utils=m
CONFIG_PACKAGE_mxml=m
CONFIG_PACKAGE_naiveproxy=m
CONFIG_PACKAGE_netdata=m
CONFIG_PACKAGE_node=m
CONFIG_PACKAGE_nspr=m
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
CONFIG_PACKAGE_p910nd=m
CONFIG_PACKAGE_parted=m
CONFIG_PACKAGE_python3=m
CONFIG_PACKAGE_python3-asyncio=m
CONFIG_PACKAGE_python3-base=m
CONFIG_PACKAGE_python3-cgi=m
CONFIG_PACKAGE_python3-cgitb=m
CONFIG_PACKAGE_python3-codecs=m
CONFIG_PACKAGE_python3-ctypes=m
CONFIG_PACKAGE_python3-dbm=m
CONFIG_PACKAGE_python3-decimal=m
CONFIG_PACKAGE_python3-distutils=m
CONFIG_PACKAGE_python3-email=m
CONFIG_PACKAGE_python3-gdbm=m
CONFIG_PACKAGE_python3-light=m
CONFIG_PACKAGE_python3-logging=m
CONFIG_PACKAGE_python3-lzma=m
CONFIG_PACKAGE_python3-multiprocessing=m
CONFIG_PACKAGE_python3-ncurses=m
CONFIG_PACKAGE_python3-openssl=m
CONFIG_PACKAGE_python3-pydoc=m
CONFIG_PACKAGE_python3-sqlite3=m
CONFIG_PACKAGE_python3-unittest=m
CONFIG_PACKAGE_python3-urllib=m
CONFIG_PACKAGE_python3-xml=m
CONFIG_PACKAGE_qBittorrent=m
CONFIG_PACKAGE_qos-scripts=m
CONFIG_PACKAGE_qt5-core=m
CONFIG_PACKAGE_qt5-network=m
CONFIG_PACKAGE_qt5-sql=m
CONFIG_PACKAGE_qt5-xml=m
CONFIG_PACKAGE_rblibtorrent=m
CONFIG_PACKAGE_rclone=m
CONFIG_PACKAGE_rclone-ng=m
CONFIG_PACKAGE_rclone-webui-react=m
CONFIG_PACKAGE_resolveip=m
CONFIG_PACKAGE_rp-pppoe-common=m
CONFIG_PACKAGE_rp-pppoe-relay=m
CONFIG_PACKAGE_rrdtool1=m
CONFIG_PACKAGE_ruby=y
CONFIG_PACKAGE_ruby-bigdecimal=y
CONFIG_PACKAGE_ruby-date=y
CONFIG_PACKAGE_ruby-dbm=y
CONFIG_PACKAGE_ruby-digest=y
CONFIG_PACKAGE_ruby-enc=y
CONFIG_PACKAGE_ruby-pstore=y
CONFIG_PACKAGE_ruby-psych=y
CONFIG_PACKAGE_ruby-stringio=y
CONFIG_PACKAGE_ruby-strscan=y
CONFIG_PACKAGE_ruby-yaml=y
CONFIG_PACKAGE_runc=m
CONFIG_PACKAGE_samba36-server=y
CONFIG_PACKAGE_samba4-libs=m
CONFIG_PACKAGE_samba4-server=m
CONFIG_PACKAGE_shadowsocks-libev-ss-local=m
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=m
CONFIG_PACKAGE_shadowsocks-libev-ss-server=m
CONFIG_PACKAGE_shadowsocksr-libev-alt=m
CONFIG_PACKAGE_shadowsocksr-libev-server=m
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=m
CONFIG_PACKAGE_shairplay=m
CONFIG_PACKAGE_simple-obfs=m
CONFIG_PACKAGE_smartdns=m
CONFIG_PACKAGE_smartmontools=m
CONFIG_PACKAGE_sqlite3-cli=m
CONFIG_PACKAGE_sqm-scripts=m
CONFIG_PACKAGE_tc=y
CONFIG_PACKAGE_tcping=m
CONFIG_PACKAGE_tini=m
CONFIG_PACKAGE_trojan-go=m
CONFIG_PACKAGE_trojan-plus=m
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_uclibcxx=y
CONFIG_PACKAGE_unzip=m
CONFIG_PACKAGE_uugamebooster=y
CONFIG_PACKAGE_v2ray-plugin=m
CONFIG_PACKAGE_verysync=m
CONFIG_PACKAGE_vlmcsd=m
CONFIG_PACKAGE_vsftpd-alt=m
CONFIG_PACKAGE_watchcat=m
CONFIG_PACKAGE_wifischedule=m
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_wsdd2=y
CONFIG_PACKAGE_xray=m
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_VFS=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_JSON1=y
CONFIG_SQLITE3_LIBEDIT=y
CONFIG_SQLITE3_RTREE=y
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=31930
CONFIG_TROJAN_GO_COMPRESS_UPX=y
# CONFIG_UnblockNeteaseMusic_NodeJS is not set
CONFIG_ZSTD_OPTIMIZE_O3=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
